#register {
    margin-top: 20px;
}

body {
    background: url("../images/air_gradient.jpg") repeat-x #93DEF3;
    color: #3E9ED8;
}

#register input[type=text] {
    width: 120%;
    padding: 5px 10px;
    border: 1px solid #3E9ED8;
}

#register input[type=password] {
    width: 120%;
    padding: 5px 10px;
    border: 1px solid #3E9ED8;
}

#register input[type=submit] {
    padding: 10px;
    background-color: lightblue;
    border: 1px solid #3E9ED8;
    color: #3E9ED8;
    margin-top: 20px;
}